* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./img/wallpaper.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

section {
    max-width: 100vw;
    padding: 20px;
    justify-content: center;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.title {
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.pesquisa {
    margin: auto;
    margin-right: 0px;
    height: 35px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
}

.pesquisar {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
}

.login-btn {
    color: darkgray;
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 220px;
}

.roupas {
    width: 100px;
}

.propaganda {
    margin: 30px;
    width: 90vw;
    height: 60vh;
    border-radius: 20px;
}

.produtos {
    display: flex;
    justify-content: space-evenly;
}

.item {
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    background-color: gray;
}

.produto {
    border-radius: 20px;
    background-color: gray;
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
}