* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-image: url("./img/wallpaper.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}

nav {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.page {
    display: flex;
    height: 91.2vh;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex; /* Usa o modelo de layout flexível */
    width: 150px; /* Define a largura */
    border-radius: 50%; /* Cria uma borda circular */
}

.title {
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}


.login {
    background-color: darkgray;
    text-align: center;
    height: 350px;
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.login-btn {
    margin-top: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}